<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dc_17_WebProject_Product_insert&amp;update</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>dan.web.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product_InfoServlet</display-name>
    <servlet-name>Product_InfoServlet</servlet-name>
    <servlet-class>dan.web.Product_InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product_InfoServlet</servlet-name>
    <url-pattern>/product_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>dan.web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductUII</display-name>
    <servlet-name>AdminAddProductUII</servlet-name>
    <servlet-class>dan.web.AdminAddProductUII</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductUII</servlet-name>
    <url-pattern>/adminAddProductUII</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>dan.web.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelProductServlet</display-name>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <servlet-class>dan.web.AdminDelProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelProductServlet</servlet-name>
    <url-pattern>/adminDelProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductUIServlet</display-name>
    <servlet-name>AdminUpdateProductUIServlet</servlet-name>
    <servlet-class>dan.web.AdminUpdateProductUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductUIServlet</servlet-name>
    <url-pattern>/adminUpdateProductUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProductServlect</display-name>
    <servlet-name>AdminUpdateProductServlect</servlet-name>
    <servlet-class>dan.web.AdminUpdateProductServlect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProductServlect</servlet-name>
    <url-pattern>/adminUpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductListServlet</display-name>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <servlet-class>dan.web.AdminSearchProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <url-pattern>/adminSearchProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>dan.web.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchWordServlet</display-name>
    <servlet-name>SearchWordServlet</servlet-name>
    <servlet-class>dan.web.SearchWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchWordServlet</servlet-name>
    <url-pattern>/searchWord</url-pattern>
  </servlet-mapping>
</web-app>